__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

.next/
node_modules/

.venv/
venv/

.git/
.gitignore
.gitattributes

.vscode/
.DS_Store

tests/
*.patch
patches/

audio_files/
docs/
prompts/
typebot/
n8n/

.env
.env.*
